.tabs {
  position: absolute;
  top: 25px;
  right: 15vw;
  display: flex;
  border: 2px solid darkblue;

  &__tab {
    padding: 8px 15px;
    text-decoration: none;
    color: darkblue;

    &_active {
      background-color: darkblue;
      color: white;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
