.week-wrapper {
  width: 70vw;
  margin: auto;

  @media (max-width: 750px) {
    width: 85vw;
  }
}

.week-table {
  border-collapse: collapse;
  width: 100%;

  &__row {
    height: 50px;

    &:nth-child(even) {
      background-color: #f8f8f8;
    }

    &:nth-child(odd) {
      background-color: #fff;
    }
  }
}
