.table {
  height: 85vh;
  margin: 0 auto;
  text-align: center;

  &__th {
    border: 2px solid darkgrey;
  }

  &__td {
    width: 13vw;
    border: 2px solid #e6e5e6;
    cursor: pointer;

    &--unactive {
      background-color: #eeeeee;
      cursor: auto;
    }

    &--today {
      border-color: red;
      border-radius: 5px;

      &:hover {
        color: red;
      }
    }

    &:not(.table__td--unactive):not(.table__td--today):hover {
      border-color: darkgrey;
    }
  }
}
