.table {
  height: 85vh;
  margin: 0 auto;
  text-align: center;

  &__th {
    border: 2px solid darkgrey;
  }

  &__td {
    position: relative;
    width: 13vw;
    border: 2px solid #e6e5e6;
    cursor: pointer;

    &--unactive {
      background-color: #eeeeee;
      cursor: auto;
    }

    &--today {
      border-color: red;
      border-radius: 5px;

      &:hover {
        color: red;
      }
    }

    &--event {

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 6px;
        background-color: #f59d9d;
      }
    }

    &:not(.table__td--unactive):not(.table__td--today):hover {
      border-color: darkgrey;
    }
  }
}
